#sections {
  position: relative;
  display: inline-block;
  width: 400px;
  top: 0px;
  z-index: 90;
  margin-right: 20px;
}

.step {
  margin-bottom: 500px;
}

#vis {
  position: fixed;
  display: inline-block;
  top: 60px;
  z-index: 1;
  margin-left: 0;
  height: 600px;
  width: 600px;
  }